h1 {
font-family: 'Tangerine', cursive;
}

#intro {
  margin-top: 40px;
  padding: 70px;
  border: 1px solid;
  line-height: center;
}
.navbar-brand {
font-family: 'Tangerine', cursive;
font-size: 70px;
padding-top: 40px;
}
#bar {
  background-color: purple;
}
#bs-example-navbar-collapse-9 {
font-family: 'Tangerine', cursive;
font-size: 50px;
padding-right: 10px;
  }
.img-responsive {
  padding-top: 20px;
}
ul {
  padding: 10px 20px 20px 10px;
  background: purple;
}
li {
  display: inline;
    padding: 20px 10px 20px 10px;
    }
 ul.nav li {
   display: inline-block;
 }

body {
  padding-top: 70px;
  color: teal;
  font-family: 'EB Garamond', serif;
  font-size: 30px;
}
h1 {
  font-size: 20px;
  font: bold;
}
img {
  float:right;
  margin-right:40px
}
.class {
  float: left;
}
.container{
  background-color: purple;
}
/* Extra Small */
@media(max-width:767px){
  body {
    color: teal;
    padding: 5px;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
  }
}

/* Small */
@media(min-width:768px) and (max-width:991px){
  body {
    color: teal;
    padding: 5px;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
  }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){}

/* Large */
@media(min-width:1200px){}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
