h1 {
font-family: 'Tangerine', cursive;
}

ul {
  padding: 20px 20px 20px 20px;
  background: purple;
}
li {
  display: inline;
    padding: 20px 10px 20px 10px;
      text-align: center;
    }
 ul.nav li {
   display: inline-block;
 }
body {
  color: teal;
  padding: 20px;
  font-family: 'EB Garamond', serif;
  font-size: 30px;
}
h1 {
  font-size: 20px;
  font: bold;
}
img {
  float:right;
  margin-right:40px
}
.class {
  float: left;
}
.container{
  background-color: purple;
}
/* Extra Small */
@media(max-width:767px){
  body {
    color: teal;
    padding: 5px;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
  }
}

/* Small */
@media(min-width:768px) and (max-width:991px){
  body {
    color: teal;
    padding: 5px;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
  }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){}

/* Large */
@media(min-width:1200px){}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
